<div class="container-fluid" style="background-color: #D3D3D3;">
  <div class="container" style="padding-top: 7rem; ">
    <div class="card mb-3 shadow bg-white p-4" style="max-width: 100%; border: none">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag 'A1.png', class: 'img-fluid rounded-start', alt: '...' %>
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark d-flex flex-column justify-content-center ">
            <div>
              <h5 class="card-title"><%= @project.name %></h5>
              <p class="card-text"><%= @project.description %></p>
              <p class="card-text"><small class="text-muted"><%= @project.address %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 p-4 ">
    <div class="row  bg-white justify-content-center">
      <% if @project.images.attached? %>
        <% @project.images.each do |image| %>
          <div class="col-md-6 p-4 d-flex justify-content-center">
            <div class="card bg-dark text-white" style="width: 100%; border: none">
              <%= image_tag image, class: 'card-img' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  </div>
</div>